body{
    font-family: 'Source Code Pro', monospace;
}
h1{
    font: size 50px;
}
.name-highlight{
    color: orange;
}
.Share-side{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 1%;
}
.Share-side img{
    width: 100%;
}