body{
    margin: 0px;
    font-family: 'Comforter', cursive;
font-family: 'Rowdies', cursive;
font-family: 'Source Code Pro', monospace;
}
h1{
    font: size 50px;
}
.name-highlight{
    color: orange;
}
.Share-side{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 1%;
}
.Share-side img{
    width: 80%;
}
.top-corner{
    background-image: url(Images/main.png);
    background-repeat: no-repeat;
}
section{
    height: 550px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-color: rgba(204, 66, 12, 0.932);
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}
.second-part{
    background-image: url(Images/bgm.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
.color{
    color: rgb(52, 211, 31);
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 50%;
}
.experience-aria{
    background-image: url(Images/bgm.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
#Full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
#front-end{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}